<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   klikpayGuide.plist
   MidtransKit

   Created by Nanang Rafsanjani on 6/13/16.
   Copyright (c) 2016 Veritrans. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>You will be redirected to BCA KlikPay page once you tap ‘Confirm Payment’ button</string>
        <string>For payment, you can choose to use KlikBCA Individu Account or BCA Card</string>
        <string>For more information about BCA KlikPay please contact Halo BCA at (021) 500888 or visit www.bca.co.id</string>
    </array>
</plist>
