<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   indomaretGuide.plist
   MidtransKit

   Created by Nanang Rafsanjani on 6/13/16.
   Copyright (c) 2016 Veritrans. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>After confirming your payment, we will issue you a unique Payment Code</string>
        <string>Note down your Payment Code and total amount. Don’t worry, we eill also mail you a copy of the payment instructions</string>
        <string>Go to an Indomaret store near you and provide the cashier with the Payment Code</string>
        <string>The cashier will then confirm the transaction by asking for the transaction amount and the merchant name</string>
        <string>Confirm the payment with the cashier</string>
        <string>Your transaction is successful! You should be receiving an email confirming your payment. Please keep your Indomaret payment receipt just in case you need help via support</string>
    </array>
</plist>
