<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>Input your registered Indosat phone number.</string>
        <string>Make sure you have sufficient funds in your account.</string>
        <string>Click 'Confirm Payment'.</string>
        <string>You will receive a USSD message from Indosat to complete transaction via Dompetku app.</string>
        <string>Input your PIN.</string>
        <string>Payment complete.</string>
    </array>
</plist>
