<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<string>klikpay</string>
				<key>name</key>
				<string>BCA Klikpay</string>
				<key>icon</key>
				<string>klikpay.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>clicks</string>
				<key>name</key>
				<string>CIMB Clicks</string>
				<key>icon</key>
				<string>clicks.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>epay</string>
				<key>name</key>
				<string>e-Pay BRI</string>
				<key>icon</key>
				<string>epay.png</string>
			</dict>
			<dict>
				<key>id</key>
				<string>clickpay</string>
				<key>name</key>
				<string>Mandiri Clickpay</string>
				<key>icon</key>
				<string>clickpay.png</string>
			</dict>
		</array>
		<key>name</key>
		<string>Direct Debit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Card Payment</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<string>cc</string>
				<key>name</key>
				<string>Credit Card</string>
				<key>icon</key>
				<string>cc.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<string>va</string>
				<key>name</key>
				<string>Bank Transfer</string>
				<key>icon</key>
				<string>otherVA</string>
			</dict>
		</array>
		<key>name</key>
		<string>Virtual Account</string>
	</dict>
</array>
</plist>
