<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Credit Card</string>
		<key>description</key>
		<string>Pay with Visa, MasterCard, or JCB</string>
		<key>id</key>
		<string>credit_card</string>
		<key>identifier</key>
		<string>credit_card</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ATM/Bank Transfer</string>
		<key>description</key>
		<string>Pay from ATM Bersama, Prima or Alto</string>
		<key>id</key>
		<string>atm</string>
		<key>identifier</key>
		<string>bank_transfer</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CIMB Clicks</string>
		<key>description</key>
		<string>Pay using CIMB Clicks account</string>
		<key>id</key>
		<string>cimb_clicks</string>
		<key>identifier</key>
		<string>cimb_clicks</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Indomaret</string>
		<key>description</key>
		<string>Pay from Indomaret</string>
		<key>id</key>
		<string>indomaret</string>
		<key>identifier</key>
		<string>indomaret</string>
	</dict>
	<dict>
		<key>title</key>
		<string>BCA KlikPay</string>
		<key>description</key>
		<string>Pay with BCA KlikPay</string>
		<key>id</key>
		<string>bca_klikpay</string>
		<key>identifier</key>
		<string>bca_klikpay</string>
	</dict>
	<dict>
		<key>title</key>
		<string>KlikBCA</string>
		<key>description</key>
		<string>Pay using KlikBCA</string>
		<key>id</key>
		<string>bca_klikbca</string>
		<key>identifier</key>
		<string>bca_klikbca</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mandiri e-Cash</string>
		<key>description</key>
		<string>Pay with Mandiri e-Cash</string>
		<key>id</key>
		<string>mandiri_ecash</string>
		<key>identifier</key>
		<string>mandiri_ecash</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mandiri Clickpay</string>
		<key>description</key>
		<string>Pay through your Mandiri Clickpay account</string>
		<key>id</key>
		<string>clickpay</string>
		<key>identifier</key>
		<string>mandiri_clickpay</string>
	</dict>
	<dict>
		<key>title</key>
		<string>e-Pay BRI</string>
		<key>description</key>
		<string>Pay using e-Pay BRI account</string>
		<key>id</key>
		<string>bri_epay</string>
		<key>identifier</key>
		<string>bri_epay</string>
	</dict>
    <dict>
        <key>title</key>
        <string>Indosat Dompetku</string>
        <key>description</key>
        <string>Pay with Indosat Dompetku</string>
        <key>id</key>
        <string>indosat_dompetku</string>
        <key>identifier</key>
        <string>indosat_dompetku</string>
    </dict>
    <dict>
        <key>title</key>
        <string>XL Tunai</string>
        <key>description</key>
        <string>Pay with XL Tunai</string>
        <key>id</key>
        <string>xl_tunai</string>
        <key>identifier</key>
        <string>xl_tunai</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Telkomsel Cash</string>
        <key>description</key>
        <string>Pay through you Telkomsel Cash account</string>
        <key>id</key>
        <string>telkomsel_cash</string>
        <key>identifier</key>
        <string>telkomsel_cash</string>
    </dict>
</array>
</plist>
