<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ATM Mandiri</string>
		<key>guides</key>
		<array>
			<string>On the main menu, choose ‘Pay/Buy’</string>
			<string>Choose ‘Others’</string>
			<string>Choose ‘Multi Payment’</string>
			<string>Enter 70012 (Veritrans company code) and press ‘Correct’</string>
			<string>Enter your Payment Code and press ‘Correct’</string>
			<string>Your payment details will appear on the payment confirmation page. If the information is correct press ‘Yes’</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Banking</string>
		<key>guides</key>
		<array>
			<string>Login to Mandiri Internet Banking (ib.bankmandiri.co.id)</string>
			<string>From the main menu choose ‘Payment’, then choose ’Multi Payment’</string>
			<string>Select your account in ‘From Account’, then ‘Billing Name’ select ‘Veritrans’</string>
			<string>Enter the ‘Payment Code’ and you will receive your payment details</string>
			<string>Confirm your payment using your Mandiri Token</string>
		</array>
	</dict>
</array>
</plist>
