<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>BCA</string>
		<key>description</key>
		<string>Pay from BCA ATMs or internet banking</string>
		<key>id</key>
		<string>vabca</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mandiri</string>
		<key>description</key>
		<string>Pay from Mandiri ATMs or internet banking</string>
		<key>id</key>
		<string>vamandiri</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Permata</string>
		<key>description</key>
		<string>Pay from Permata ATMs or internet banking</string>
		<key>id</key>
		<string>vapermata</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Other Bank</string>
		<key>description</key>
		<string>Pay from ATMs or internet banking</string>
		<key>id</key>
		<string>vaother</string>
	</dict>
</array>
</plist>
