osx_image: xcode8.2
language: objective-c

branches:
- development

before_install:
- gem install xcpretty
- gem install cocoapods -v '1.1.1'
- brew install gflags

script:
#reset pods
- rm -rf "~/Library/Caches/CocoaPods"
- rm -rf "Pods/"
- pod install
- pod update

#create simulator
- xcrun simctl erase all
- xcrun simctl create iPhone-6-10 com.apple.CoreSimulator.SimDeviceType.iPhone-6 com.apple.CoreSimulator.SimRuntime.iOS-9-0

#run test
- xcodebuild -workspace MidtransSDK.xcworkspace -scheme MidtransMobileDemo -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone-6-10,OS=9.0' GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES ONLY_ACTIVE_ARCH=NO clean build test | xcpretty
#TEST COCOAPODS BUILD
#- cd DemoPods
#- rm -rf "Pods/"
#- pod install
#- pod update
#- xcodebuild -workspace VTDirectDemo.xcworkspace -scheme DemoPods -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.0' ONLY_ACTIVE_ARCH=NO clean test | xcpretty
#- cd ..
after_success:
  - bash <(curl -s https://codecov.io/bash)  -t :5e7f6972-2273-471b-ad30-68797581a09c
notifications:
email: true
slack: midtrans:0RQSD3O4kPhQy9KxlPZsFYXp
