language: objective-c  #1

osx_image: xcode8.2

branches:
- development
before_install:
- gem install xcpretty
- gem install cocoapods -v '1.1.1'
- brew install gflags

script:
- rm -rf "~/Library/Caches/CocoaPods"

#TEST DEVELOPMENT BUILD
- rm -rf "Pods/"
- pod install
- pod update
- xcodebuild -workspace MidtransSDK.xcworkspace -scheme MidtransSDKUITests -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.0' ONLY_ACTIVE_ARCH=NO clean test | xcpretty

#TEST COCOAPODS BUILD
#- cd DemoPods
#- rm -rf "Pods/"
#- pod install
#- pod update
#- xcodebuild -workspace VTDirectDemo.xcworkspace -scheme DemoPods -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.0' ONLY_ACTIVE_ARCH=NO clean test | xcpretty
#- cd ..

notifications:
email: true
slack: midtrans:0RQSD3O4kPhQy9KxlPZsFYXp
