<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MERCHANT_URL</key>
	<string>https://juki-merchant-server.herokuapp.com/charge/index.php</string>
	<key>CLIENT_KEY</key>
	<string>SB-Mid-client-lkFxk1uWpt7NQouB</string>
</dict>
</plist>
