<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>On the main menu, choose ‘Pay/Buy’</string>
	<string>Choose ‘Others’</string>
	<string>Choose ‘Multi Payment’</string>
	<string>Enter 70012 (Veritrans company code) and press ‘Correct’</string>
	<string>Enter your Payment Code and press ‘Correct’</string>
	<string>Your payment details will appear on the payment confirmation page. If the information is correct press ‘Yes’</string>
</array>
</plist>
