<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>Click the &quot;Pay Now&quot; button, then you will be directed to the Akulaku PayLater Payment Center page.</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Select the desired installment tenure, then Login to your Akulaku PayLater account by entering your mobile number and password.</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Enter the verification code (OTP) that has been sent to your mobile number, then click the &quot;Next&quot; button.</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>A confirmation page will be shown to you, then you can finish your transaction.</string>
		<key>image</key>
		<string></string>
	</dict>
</array>
</plist>
