<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ATM BRI</string>
		<key>guides</key>
		<array>
			<dict>
				<key>content</key>
				<string>Select ‘other transaction’ on the main menu</string>
				<key>image</key>
				<string>bri_va1</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Select ‘payment’</string>
				<key>image</key>
				<string>bri_va2</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Select ‘other’</string>
				<key>image</key>
				<string>bri_va3</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Select ‘BRIVA’</string>
				<key>image</key>
				<string>bri_va4</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Insert ‘BRIVA’ number, then ‘confirm’.</string>
				<key>image</key>
				<string>bri_va5</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Payment completed.</string>
				<key>image</key>
				<string>bri_va6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>IB BRI</string>
		<key>guides</key>
		<array>
			<dict>
				<key>content</key>
				<string>Select ‘payment &amp; purchase’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Select ‘BRIVA’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Insert ‘BRIVA Number’, then ‘confirm’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Payment completed.</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>BRImo</string>
		<key>guides</key>
		<array>
			<dict>
				<key>content</key>
				<string>Select ‘payment’</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Select ‘BRIVA’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Insert ‘BRIVA number’, then ‘confirm’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Payment completed.</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
