<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>Enter Danamon Online Banking User ID and Password and select the source of fund.</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Check detail transaction and enter Token Code and klik Next.</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Payment confirmation will be displayed and payment is completed. Keep the merchant reference and payment reference no. and klik Next to return to merchant website.</string>
		<key>image</key>
		<string></string>
	</dict>
</array>
</plist>
