<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>Prima</string>
        <key>guides</key>
        <array>
            <dict>
                <key>content</key>
                <string>Select ‘other transactions’ on the main menu.</string>
                <key>image</key>
                <string>other_prima_1</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Select ‘transfer’.</string>
                <key>image</key>
                <string>other_prima_2</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Select ‘other bank account’.</string>
                <key>image</key>
                <string>other_prima_3</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert 002 as the ‘bank code’.</string>
                <key>image</key>
                <string>other_prima_4</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert the ‘payable amount’.</string>
                <key>image</key>
                <string>other_prima_5</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert the ‘payment account number’, then ‘confirm’</string>
                <key>image</key>
                <string>other_prima_6</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Payment completed.</string>
                <key>image</key>
                <string>other_prima_7</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>ATM Bersama</string>
        <key>guides</key>
        <array>
            <dict>
                <key>content</key>
                <string>Select ‘other transactions’ on the main menu.</string>
                <key>image</key>
                <string>other_atm_1</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Select ‘transfer’.</string>
                <key>image</key>
                <string>other_atm_2</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Select ‘between online banks’.</string>
                <key>image</key>
                <string>other_atm_3</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert 002 as the ‘bank code’</string>
                <key>image</key>
                <string>other_atm_4</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert the ‘payable amount’.</string>
                <key>image</key>
                <string>other_atm_5</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert the ‘Payment Account Number’, then ‘confirm’</string>
                <key>image</key>
                <string>other_atm_6</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Payment completed.</string>
                <key>image</key>
                <string>other_atm_7</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>Alto</string>
        <key>guides</key>
        <array>
            <dict>
                <key>content</key>
                <string>Select ‘other transactions’ on the main menu.</string>
                <key>image</key>
                <string>other_alto_1</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Select ‘transfer’.</string>
                <key>image</key>
                <string>other_alto_2</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Select ‘other bank account’.</string>
                <key>image</key>
                <string>other_alto_3</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert 002 as the ‘bank code’.</string>
                <key>image</key>
                <string>other_alto_4</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert the ‘payable amount’.</string>
                <key>image</key>
                <string>other_alto_5</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Insert the ‘payment account number’, then ‘confirm’</string>
                <key>image</key>
                <string>other_alto_6</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Payment completed.</string>
                <key>image</key>
                <string>other_prima_7</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
