<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>Livin’ by Mandiri</string>
        <key>guides</key>
        <array>
            <dict>
                <key>content</key>
                <string>Pilih ‘bayar’ pada menu utama.</string>
                <key>image</key>
                <string>mandiri_atm_1</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pilih ‘Ecommerce’ .</string>
                <key>image</key>
                <string>mandiri_atm_2</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pilih ‘Midtrans’  di bagian penyedia jasa.</string>
                <key>image</key>
                <string>mandiri_atm_3</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Masukkan ‘nomor virtual account’ pada bagian kode bayar.</string>
                <key>image</key>
                <string>mandiri_atm_4</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Klik ‘lanjutkan’ untuk konfirmasi.</string>
                <key>image</key>
                <string>mandiri_atm_5</string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pembayaran selesai.</string>
                <key>image</key>
                <string>mandiri_atm_6</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>ATM Mandiri</string>
        <key>guides</key>
        <array>
            <dict>
                <key>content</key>
                <string>Pilih ‘bayar/beli’ pada menu utama.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pilih ‘lainnya’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pilih ‘multi payment’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Masukkan kode perusahaan Midtrans ‘70012’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Masukkan kode ‘pembayaran’, lalu ‘konfirmasi’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pembayaran selesai.</string>
                <key>image</key>
                <string></string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>Internet Banking</string>
        <key>guides</key>
        <array>
            <dict>
                <key>content</key>
                <string>Pilih ‘bayar’ pada menu utama.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pilih ‘multi payment’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pilih dari ‘rekening’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pilih ‘Midtrans’ di bagian ‘penyedia jasa’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Masukkan kode ‘pembayaran’, lalu ‘konfirmasi’.</string>
                <key>image</key>
                <string></string>
            </dict>
            <dict>
                <key>content</key>
                <string>Pembayaran selesai.</string>
                <key>image</key>
                <string></string>
            </dict>
        </array>
    </dict>
</array>
</plist>
