<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>Tekan ‘Bayar dengan GO-PAY’ </string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Buka aplikasi ‘GO-JEK’ di HP Anda</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Tekan ‘SCAN QR’, lalu arahkan kamera ke ‘Kode QR’</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Periksa kembali detail pembayaran Anda di aplikasi ‘GO-JEK‘ lalu tekan  ‘BAYAR‘ </string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Transaksi Anda selesai.</string>
		<key>image</key>
		<string></string>
	</dict>
</array>
</plist>
