<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>content</key>
            <string>Tap ‘Pay using GO-PAY’ </string>
            <key>image</key>
            <string></string>
        </dict>
        <dict>
            <key>content</key>
            <string>‘QR-CODE’ Will appear on the next page to be scanned</string>
            <key>image</key>
            <string></string>
        </dict>
        <dict>
            <key>content</key>
            <string>Open ‘GO-JEK App‘, on your phone</string>
            <key>image</key>
            <string></string>
        </dict>
        <dict>
            <key>content</key>
            <string>Tap ‘Scan QR’</string>
            <key>image</key>
            <string></string>
        </dict>
        <dict>
            <key>content</key>
            <string>Point Your Camera to the ‘QR Code’</string>
            <key>image</key>
            <string></string>
        </dict>
        <dict>
            <key>content</key>
            <string>Check your payment details in ‘QR Code’ app and then tap Pay</string>
            <key>image</key>
            <string></string>
        </dict>
        <dict>
            <key>content</key>
            <string>Done</string>
            <key>image</key>
            <string></string>
        </dict>
    </array>
</plist>

