<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ATM Permata/ALTO</string>
		<key>guides</key>
		<array>
			<dict>
				<key>content</key>
				<string>Pilih ‘transaksi lainnya’ pada menu utama.</string>
				<key>image</key>
				<string>permata_atm_1</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Pilih ‘pembayaran’</string>
				<key>image</key>
				<string>permata_atm_2</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Pilih ‘pembayaran Lainnya’</string>
				<key>image</key>
				<string>permata_atm_3</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Pilih ‘virtual account’</string>
				<key>image</key>
				<string>permata_atm_4</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Masukkan ‘nomor virtual account Permata’, lalu konfirmasi’.</string>
				<key>image</key>
				<string>permata_atm_5</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Pembayaran berhasil.</string>
				<key>image</key>
				<string>permata_atm_6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Via bank lainnya</string>
		<key>guides</key>
		<array>
			<dict>
				<key>content</key>
				<string>Pilih ‘bank &amp; cara bayar’ (ATM/internet/mobile banking) ‘yang Anda inginkan’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Pilih ‘transfer ke bank lain’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Masukkan ‘nomor virtual account’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Masukkan ‘jumlah yang akan dibayar, lalu konfirmasi’.</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>Pembayaran selesai.</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
