<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>Tekan ‘Bayar dengan ShopeePay’</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Aplikasi ‘Shopee’ akan terbuka</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Cek detail transaksi anda kemudian tekan ‘Lanjutkan’</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Cek saldo ShopeePay anda, kemudian tekan ‘Bayar’</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Masukkan ‘PIN’ anda</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>content</key>
		<string>Transaksi anda telah selesai</string>
		<key>image</key>
		<string></string>
	</dict>
</array>
</plist>
